{% extends "base.html" %}

{% block content %}
    <h1>{{ displayName1 }} vs. {{ displayName2 }}</h1>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <canvas id="radarChart" width="400" height="400"></canvas>
    <script>        
        var ctx = document.getElementById("radarChart");
        var radarChart = new Chart(ctx, {
            type: "radar",
            data: {
                labels: {{ labels | safe }}, 
                datasets: [{
                        label: "{{ p1Label | safe }}", 
                        data: {{ p1Values | safe }}, 
                        fill: true, 
                        backgroundColor: "rgba(75, 75, 192, 0.5)", 
                        borderColor: "rgb(75, 75, 192)"
                    }, {
                        label: "{{ p2Label | safe }}", 
                        data: {{ p2Values | safe }}, 
                        fill: true, 
                        backgroundColor: "rgba(192, 75, 75, 0.5)", 
                        borderColor: "rgb(192, 75, 75)"
                    }]
            },
            options: {
                responsive: false, 
                scales: {
                    r: {
                        min: 0, 
                        max: 1, 
                        ticks: {
                            count: 10
                        }
                    }
                }
            }
        });
    </script>

    <p>Performance Stats: </p>
    <table border="1">
        <tr>
            <td> </td>
            <td>{{ displayName1 }}</td>
            <td>{{ displayName2 }}</td>
        </tr>
        <tr>
            <td>WLR:</td>
            <td>{{ xDataDict["winRatio"] }}</td>
            <td>{{ yDataDict["winRatio"] }}</td>
        </tr>
        <tr>
            <td>Win Rate:</td>
            <td>{{ xDataDict["winPercent"] }}%</td>
            <td>{{ yDataDict["winPercent"] }}%</td>
        </tr>
        <tr>
            <td>Cap Success Rate:</td>
            <td>{{ xDataDict["capSuccessRate"] }}%</td>
            <td>{{ yDataDict["capSuccessRate"] }}%</td>
        </tr>
        <tr>
            <td>Cap/Death Ratio:</td>
            <td>{{ xDataDict["capDeathRatio"] }}</td>
            <td>{{ yDataDict["capDeathRatio"] }}</td>
        </tr>
        <tr>
            <td>KDR:</td>
            <td>{{ xDataDict["kdr"] }}</td>
            <td>{{ yDataDict["kdr"] }}</td>
        </tr>
        <tr>
            <td>KDR Against Woolholder:</td>
            <td>{{ xDataDict["huntingKDR"] }}</td>
            <td>{{ yDataDict["huntingKDR"] }}</td>
        </tr>
        <tr>
            <td>KDR As Woolholder:</td>
            <td>{{ xDataDict["woolholderKDR"] }}</td>
            <td>{{ yDataDict["woolholderKDR"] }}</td>
        </tr>
    </table>

    <p>Per-Game Stats: </p>
    <table border="1">
        <tr>
            <td></td>
            <td>{{ displayName1 }}</td>
            <td>{{ displayName2 }}</td>
        </tr>
        <tr>
            <td>Average Caps Per Game:</td>
            <td>{{ xDataDict["capsPerGame"] }}</td>
            <td>{{ yDataDict["capsPerGame"] }}</td>
        </tr>
        <tr>
            <td>Average Kills Per Game:</td>
            <td>{{ xDataDict["killsPerGame"] }}</td>
            <td>{{ yDataDict["killsPerGame"] }}</td>
        </tr>
        <tr>
            <td>Average Kills on Woolholder Per Game: </td>
            <td>{{ xDataDict["huntingKillsPerGame"] }}</td>
            <td>{{ yDataDict["huntingKillsPerGame"] }}</td>
        </tr>
    </table>

    <p>Raw Stats: </p>
    <table border="1">
        <tr>
            <td></td>
            <td>{{ displayName1 }}</td>
            <td>{{ displayName2 }}</td>
        </tr>
        <tr>
            <td>Wins:</td>
            <td>{{ xDataDict["wins"] }}</td>
            <td>{{ yDataDict["wins"] }}</td>
        </tr>
        <tr>
            <td>Losses:</td>
            <td>{{ xDataDict["losses"] }}</td>
            <td>{{ yDataDict["losses"] }}</td>
        </tr>
        <tr>
            <td>Caps:</td>
            <td>{{ xDataDict["caps"] }}</td>
            <td>{{ yDataDict["caps"] }}</td>
        </tr>
        <tr>
            <td>Wools Stolen:</td>
            <td>{{ xDataDict["woolsStolen"] }}</td>
            <td>{{ yDataDict["woolsStolen"] }}</td>
        </tr>
        <tr>
            <td>Kills:</td>
            <td>{{ xDataDict["kills"] }}</td>
            <td>{{ yDataDict["kills"] }}</td>
        </tr>
        <tr>
            <td>Deaths:</td>
            <td>{{ xDataDict["deaths"] }}</td>
            <td>{{ yDataDict["deaths"] }}</td>
        </tr>
        <tr>
            <td>Assists:</td>
            <td>{{ xDataDict["assists"] }}</td>
            <td>{{ yDataDict["assists"] }}</td>
        </tr>
        <tr>
            <td>Kills Against Woolholder:</td>
            <td>{{ xDataDict["huntingKills"] }}</td>
            <td>{{ yDataDict["huntingKills"] }}</td>
        </tr>
        <tr>
            <td>Deaths to Woolholder:</td>
            <td>{{ xDataDict["huntingDeaths"] }}</td>
            <td>{{ yDataDict["huntingDeaths"] }}</td>
        </tr>
        <tr>
            <td>Kills as Woolholder:</td>
            <td>{{ xDataDict["woolholderKills"] }}</td>
            <td>{{ yDataDict["woolholderKills"] }}</td>
        </tr>
        <tr>
            <td>Deaths as Woolholder:</td>
            <td>{{ xDataDict["woolholderDeaths"] }}</td>
            <td>{{ yDataDict["woolholderDeaths"] }}</td>
        </tr>
        <tr>
            <td>Fastest Cap Time:</td>
            <td>{{ xDataDict["capPR"] }} seconds</td>
            <td>{{ yDataDict["capPR"] }} seconds</td>
        </tr>
        <tr>
            <td>Fastest Win Time:</td>
            <td>{{ xDataDict["winPR"] }} seconds</td>
            <td>{{ yDataDict["winPR"] }} seconds</td>
        </tr>
        <tr>
            <td>Draws:</td>
            <td>{{ xDataDict["draws"] }}</td>
            <td>{{ yDataDict["draws"] }}</td>
        </tr>
    </table>

{% endblock %}