<!doctype html>
<html lang="en">
    <head>
        
        {% if title %}
        <title>{{ title }} - CTWCodex</title>
        {% else %}
        <title>CTWCodex</title>
        {% endif %}

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    </head>
    <body>
        
        <div class="nav">
            <ul>
                <li><a href="{{ url_for('home') }}">CTWCodex</a></li>
                <li><a href="{{ url_for('home') }}">Search</a></li>
                <li><a href="{{ url_for('compareSearch') }}">Compare</a></li>
            </ul>
        </div>
        
        
        
        
        <div class="content">
            {% block content %}{% endblock %}
        </div>

        
    </body>
</html>