{% extends "base.html" %}

{% block content %}
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    

    
    <div style="width:50%;display:inline-block;vertical-align:top;padding:10px;">
        <div class="card" style="width:100%;display:inline-block;vertical-align:top;">
            <div class="card-head">
                <h3 style="text-align:left;">{{ displayName }}</h3>
            </div>
            <div class="card-body">
                <img src="https://crafatar.com/avatars/{{ uuid }}?overlay=true" style="width:100px;height:100px;display:inline-block;">
                <table class="card-table" style="margin-left:10px;">
                    <tr><td style="height:25px;vertical-align:middle;">{{ dataDict["gamesPlayed"] }} matches</td></tr>
                    <tr><td style="height:25px;vertical-align:middle;">{{ dataDict["caps"] }} caps</td></tr>
                    <tr><td style="height:25px;vertical-align:middle;">{{ dataDict["kills"] }} kills</td></tr>
                    <tr><td style="height:25px;vertical-align:middle;">{{ dataDict["huntingKills"] }} kills on woolholder</td></tr>
                </table>
                
                
            </div>
        </div>

        <br>

        <div class="card" style="width:100%;display:inline-block;vertical-align:top;">
            <div class="card-head">
                <h3>Performance Stats</h3>
            </div>
            <div class="card-body">
                <table class="card-table">
                    <tr><td>WLR: {{ dataDict["winRatio"] }} / {{ dataDict["winPercent"] }}% winrate</td></tr>
                    <tr><td>KDR: {{ dataDict["kdr"] }}</td></tr>
                    <tr><td>Cap Success Rate: {{ dataDict["capSuccessRate"] }}% | Cap/Death Ratio: {{ dataDict["capDeathRatio"] }}</td></tr>
                    <tr><td>KDR Against Woolholder: {{ dataDict["huntingKDR"] }}</td></tr>
                    <tr><td>KDR as Woolholder: {{ dataDict["woolholderKDR"] }}</td></tr>
                </table>
            </div>
        </div>

        <div class="card" style="width:100%;display:inline-block;vertical-align:top;">
            <div class="card-head">
                <h3>Per-Game Stats</h3>
            </div>
            <div class="card-body">
                <table class="card-table">
                    <tr><td>Average Caps Per Game: {{ dataDict["capsPerGame"] }}</td></tr>
                    <tr><td>Average Kills Per Game: {{ dataDict["killsPerGame"] }}</td></tr>
                    <tr><td>Average Kills on Woolholder Per Game: {{ dataDict["huntingKillsPerGame"] }}</td></tr>
                </table>
            </div>
        </div>

        <div class="card" style="width:100%;display:inline-block;vertical-align:top;">
            <div class="card-head">
                <h3>Time Stats</h3>
            </div>
            <div class="card-body">
                <table class="card-table">
                    <tr><td>Fastest Cap Time: {{ dataDict["capPR"] }}s</td></tr>
                    <tr><td>Fastest Win Time: {{ dataDict["winPR"] }}s</td></tr>
                </table>
            </div>
        </div>
    </div>

    <div style="width:46%;display:inline-block;vertical-align:top;padding:10px;">

        <div class="card">
            <div class="card-head">
                <h3>Performance</h3>
            </div>
            <canvas id="radarChart" width="500" height="500" style="width:100%;display:inline;padding:10px;background-color:#282828;vertical-align:top;border-left: 2px solid #202020;border-bottom: 2px solid #202020;border-right: 2px solid #202020;"></canvas>
        </div>
        
        <div class="card">
            <div class="card-head">
                <h3>Hotbar Layout</h3>
            </div>
            <div class="card-body">
                <table border="1" style="margin:auto;">
                    <tr>
                        <td><image src="/static/{{ dataDict['hotbarImageList'][0] }}" alt="{{ dataDict['hotbarAltTextList'][0] }}" width="40" height="40"></td>
                        <td><image src="/static/{{ dataDict['hotbarImageList'][1] }}" alt="{{ dataDict['hotbarAltTextList'][1] }}" width="40" height="40"></td>
                        <td><image src="/static/{{ dataDict['hotbarImageList'][2] }}" alt="{{ dataDict['hotbarAltTextList'][2] }}" width="40" height="40"></td>
                        <td><image src="/static/{{ dataDict['hotbarImageList'][3] }}" alt="{{ dataDict['hotbarAltTextList'][3] }}" width="40" height="40"></td>
                        <td><image src="/static/{{ dataDict['hotbarImageList'][4] }}" alt="{{ dataDict['hotbarAltTextList'][4] }}" width="40" height="40"></td>
                        <td><image src="/static/{{ dataDict['hotbarImageList'][5] }}" alt="{{ dataDict['hotbarAltTextList'][5] }}" width="40" height="40"></td>
                        <td><image src="/static/{{ dataDict['hotbarImageList'][6] }}" alt="{{ dataDict['hotbarAltTextList'][6] }}" width="40" height="40"></td>
                        <td><image src="/static/{{ dataDict['hotbarImageList'][7] }}" alt="{{ dataDict['hotbarAltTextList'][7] }}" width="40" height="40"></td>
                        <td><image src="/static/{{ dataDict['hotbarImageList'][8] }}" alt="{{ dataDict['hotbarAltTextList'][8] }}" width="40" height="40"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    
    
    <div class="card" style="width:97%;margin:auto;">
        <div class="card-head">
            <h3 style="text-align:center;">Raw Stats</h3>
        </div>
        <div class="card-body">
            <table class="card-table" style="width:19%;padding-left:10px;padding-right:10px;font-size:14px;">
                <tr><td>Wins: {{ dataDict["wins"] }}</td></tr>
                <tr><td>Losses: {{ dataDict["losses"] }}</td></tr>
                <tr><td>Draws: {{ dataDict["draws"] }}</td></tr>
            </table>
            <table class="card-table" style="width:19%;border-left: 2px solid #202020;padding-left:10px;padding-right:10px;font-size:14px;">
                <tr><td>Kills: {{ dataDict["kills"] }}</td></tr>
                <tr><td>Deaths: {{ dataDict["deaths"] }}</td></tr>
                <tr><td>Assists: {{ dataDict["assists"] }}</td></tr>
            </table>
            <table class="card-table" style="width:19%;border-left: 2px solid #202020;padding-left:10px;padding-right:10px;font-size:14px;">
                <tr><td>Caps: {{ dataDict["caps"] }}</td></tr>
                <tr><td>Wools Stolen: {{ dataDict["woolsStolen"] }}</td></tr>
            </table>
            <table class="card-table" style="width:19%;border-left: 2px solid #202020;padding-left:10px;padding-right:10px;font-size:14px;">
                <tr><td>Kills on Woolholder: {{ dataDict["huntingKills"] }}</td></tr>
                <tr><td>Deaths to Woolholder: {{ dataDict["huntingDeaths"] }}</td></tr>
            </table>
            <table class="card-table" style="width:19%;border-left: 2px solid #202020;padding-left:10px;padding-right:10px;font-size:14px;">
                <tr><td>Kills as Woolholder: {{ dataDict["woolholderKills"] }}</td></tr>
                <tr><td>Deaths as Woolholder: {{ dataDict["woolholderDeaths"] }}</td></tr>
            </table>
        </div>
    </div>
    

    

    

    
    <script>
        var ctx = document.getElementById("radarChart");
        var radarChart = new Chart(ctx, {
            type: "radar",
            data: {
                labels: {{ labels | safe }}, 
                datasets: [
                    {
                        label: "{{ displayName | safe }}", 
                        data: {{ values | safe }}, 
                        fill: true, 
                        backgroundColor: "rgba(75, 75, 192, 0.5)", 
                        borderColor: "rgb(75, 75, 192)"
                    }
                ]
            },
            options: {
                responsive: false, 
                scales: {
                    r: {
                        min: 0, 
                        max: 1, 
                        ticks: {
                            count: 0
                        }
                    }
                }
            }
        });
    </script>
{% endblock %}